.product-list .col-md-3{
    margin-bottom: 55px;
}

.product-list img{
    width: 100%;
}
.product-list h2{
    font-size: 24px;
    font-weight: 600;
    padding-top: 8px;
}
.product-list p{
    font-size: 16px;
}
.product-list span{
    color: #916000;
}
.product-list p>span{
    padding-left: 8px;
    text-decoration: line-through;
    color: #8D8D8D;
}
@media(max-width: 375px){
    .product-list h2{
        font-size: 20px;
    }
}

.page li a{
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
}
.page li a:hover{
    color: #916000;
    border-bottom: 1px solid #916000;
}